<div class="layout{{isDarkness ? ' darkness' : ''}}">
    <div #header class="layout-header anchored">
        <ng-content select="app-layout-header"></ng-content>
    </div>
    <div #body class="layout-body" (scroll)="onBodyScroll();">
        <div class="layout-body-header"></div>
        <ng-content select="app-layout-body"></ng-content>
        <div class="layout-body-footer"></div>
    </div>
    <div class="layout-footer">
        <table>
            <td class="td-footer">
                <div>
                    <ng-content select="app-layout-footer"></ng-content>
                </div>
            </td>
            <td class="td-checkbox">
                <div>
                    <app-checkbox
                        [(value)]="isDarkness"
                        [label]="'Darkness Mode'"
                        [fontSize]="24"
                        (valueChange)="onDarknessModeChange()">
                    </app-checkbox>
                </div>
            </td>
        </table>
    </div>
</div>
<app-loading-screen [isVisible]="isLoadingScreen"></app-loading-screen>