<app-layout [isDarkness]="false">
    <app-layout-header>
        <app-layout-header-left></app-layout-header-left>
        <app-layout-header-center></app-layout-header-center>
        <app-layout-header-rigth></app-layout-header-rigth>
    </app-layout-header>
    <app-layout-body>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>Fin de Pagina</p>
    </app-layout-body>
    <app-layout-footer>

    </app-layout-footer>
</app-layout>