<div class="layout-header">
    <table>
        <td class="td-left">
            <div class="layout-header-left">
                <ng-content select="app-layout-header-left"></ng-content>
            </div>
        </td>
        <td class="td-center">
            <div class="layout-header-center">
                <ng-content select="app-layout-header-center"></ng-content>
            </div>
        </td>
        <td class="td-rigth">
            <div class="layout-header-rigth">
                <ng-content select="app-layout-header-rigth"></ng-content>
            </div>
        </td>
    </table>
</div>