.layout-header {
    width: 100%;
    height: 100%;
    overflow: hidden;

    table {
        width: 100%;
        height: 100%;

        td { height: 100%; position: relative; }
        .td-left, .td-right { min-width: 120px; }
        .td-center { width: 100%; min-width: 200px; }
    }

    .layout-header-left,
    .layout-header-center,
    .layout-header-right {
        display: flex;
        height: 100%;
        overflow: hidden;
        width: calc(100% - 10px);
        margin-left: 5px;
        margin-right: 5px;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    .layout-header-left { justify-content: left; }
    .layout-header-center { justify-content: center; }
    .layout-header-right { justify-content: right; }
}